<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<style>
  ul li{
    list-style: none;
    display: inline-block;
    
  }
  .question span{
    display: inline-block;
    background: darkcyan;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
  }
</style>
<body>
  <div id="Questionnaire">
    <div class="header">TITLE PNG</div>
    <div class="hello">
     <ul v-for="(list,i) in list">
       <div class="question">
        <span>{{list.order}}</span> {{list.text}}
       </div>
		 	
       <li v-for="(lid, index) in list.choice" >
        <input type="radio" @click="fetchA(i,index,lid)" :id="lid" :value="lid" v-model="result"> <label for="lid">{{lid}}</label>
        
        
         

       </li>
       <div>picked:{{result}}</div>
     </ul>
     
    </div>
  </div>

  <script src="./app.js"></script>
</body>
</html>